<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Berthoud</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/new.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/skeleton.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/layout.css">
</head>
<body>
	<div class="text">
		<div>
			<div>
			<img src="{{ STATIC_URL }}css/logo.gif" alt="BERTHOUD">
			</div>
	        <div class="container">
                <div class="form-bg">
                    <form  action="." method="post">
                        {% csrf_token %}
                        <h2>Login</h2>
                        <p><input type="text" name="username" placeholder="Login"></p>
                        <p><input type="password" name="password" placeholder="Password"></p>
                        <input type="submit" name="submit" value="Enter" />
                    </form>
                </div>
	        </div>
		</div>
	</div>
</body>
</html>