{% extends "base.html" %}

{% block content %}
    <p class="form-data">
        Are you sure that you would like to delete this order?
        <br>
        {{ order }}
    </p>
    <ul>
    <form class="form-data"  method="POST" action=".">
        {% csrf_token %}
        <li><input type="submit" value="Yes" /></li>
    </form>
    <li><a href="{{ next }}">No</a></li>
    </ul>

{% endblock %}