{% extends "base.html" %}

{% block content %}

<h2>Payment</h2>

<form action="." method="post">
    {% csrf_token %}

    <table class="table-filter">
        <tr>
            <td>Order</td>
            <td>{{ form.order }} {{ form.order.errors }}</td>
            <td>Model name</td>
            <td>{{ form.model_name }} {{ form.model_name.errors }}</td>
        </tr>
        <tr>
            <td>Berthoud R/N</td>
            <td>{{ form.berthoud }} {{ form.berthoud.errors }}</td>
            <td>Model control box</td>
            <td>{{ form.model_control_box }} {{ form.model_control_box.errors }}</td>
        </tr>
        <tr>
            <td>Emc S/N</td>
            <td>{{ form.emc }} {{ form.emc.errors }}</td>
            <td>Model boom length</td>
            <td>{{ form.model_boom_length }} {{ form.model_boom_length.errors }}</td>
        </tr>
        <tr>
            <td>Made</td>
            <td>{{ form.made }}</td>
            <td>Model boom type</td>
            <td>{{ form.model_boom_type }} {{ form.model_boom_type.errors }}</td>
        <tr>
            <td><input type="submit" value="Search" /></td>
        </tr>
    </table>
</form>

<table class="table-data">
    <tr>
        <td>N</td>
        <td>Order</td>
        <td>Berthoud R/N</td>
        <td>EMC S/N</td>
        <td>Model</td>

        <td>Specification EMC - Dealer</td>
        <td>Dealer</td>
        <td>Price, EUR</td>

        <td>Payment 1, EUR</td>
        <td>Date</td>
        <td>Payment 2, EUR</td>
        <td>Date</td>
        <td>Payment 3, EUR</td>
        <td>Date</td>

        <td>Total</td>

        <td>Action</td>
    </tr>
    {% for order in orders %}
    <tr class="table-row" {% if order.total_payment >= order.price %}style="background-color: #008800"{% endif %}>
        <td onclick="ShowHideDescription('{{ order.n }}')">{{ order.n }}</td>
        <td onclick="ShowHideDescription('{{ order.n }}')">{{ order.order }}</td>
        <td onclick="ShowHideDescription('{{ order.n }}')">{{ order.berthoud }}</td>
        <td onclick="ShowHideDescription('{{ order.n }}')">{{ order.emc }}</td>
        <td onclick="ShowHideDescription('{{ order.n }}')">{{ order.model }}</td>

        <td onclick="ShowHideDescription('{{ order.n }}')">{{ order.emc_dealer }}</td>
        <td onclick="ShowHideDescription('{{ order.n }}')">{{ order.dealer|default_if_none:'' }}</td>
        <td onclick="ShowHideDescription('{{ order.n }}')">{{ order.price|default_if_none:'' }}</td>

        <td onclick="ShowHideDescription('{{ order.n }}')">{{ order.payment1|default_if_none:'' }}</td>
        <td onclick="ShowHideDescription('{{ order.n }}')">{{ order.payment1_date|default_if_none:'' }}</td>
        <td onclick="ShowHideDescription('{{ order.n }}')">{{ order.payment2|default_if_none:'' }}</td>
        <td onclick="ShowHideDescription('{{ order.n }}')">{{ order.payment2_date|default_if_none:'' }}</td>
        <td onclick="ShowHideDescription('{{ order.n }}')">{{ order.payment3|default_if_none:'' }}</td>
        <td onclick="ShowHideDescription('{{ order.n }}')">{{ order.payment3_date|default_if_none:'' }}</td>

        <td onclick="ShowHideDescription('{{ order.n }}')">{{ order.total_payment|default_if_none:'' }}</td>
        <td  style="background-color: #FFFFFF">
        {% if access.update_stock %}
            <a href="{% url 'order_payment_update' order.pk %}">Update</a>
        {% endif %}
        {% if access.update_payment %}
            <a href="{% url 'order_payment_update_payment' order.pk %}">Payment</a>
        {% endif %}
        {% if access.update_shipment %}
            <a href="{% url 'order_payment_update_shipment' order.pk %}">Shipment</a>
        {% endif %}
        {% if access.delete %}
            <a href="{% url 'order_payment_delete' order.pk %}">Delete</a>
        {% endif %}
        </td>
    </tr>
    <tr id="description-{{ order.n }}" style="display: none">
        <td></td>
        <td colspan="14">{{ order.description }}</td>
    </tr>
    {% endfor %}
</table>

{% include "paginator.html" %}

{% endblock %}