{% extends "base.html" %}

{% block content %}
    <h2>Update</h2>

    {{ order }}

    <form class="form-data" action="." method="POST">
        {% csrf_token %}
        <table>
        {{ form.as_table }}
        </table>
        <input type="submit" value="Update"/>
    </form>
{% endblock %}