{% extends "base.html" %}

{% block content %}

<h2>Stock</h2>

<form action="." method="post">
    {% csrf_token %}

    <table class="table-filter">
        <tr>
            <td>Order</td>
            <td>{{ form.order }} {{ form.order.errors }}</td>
            <td>Model name</td>
            <td>{{ form.model_name }} {{ form.model_name.errors }}</td>
            <td>Ready</td>
            <td>{{ form.ready }}</td>
        </tr>
        <tr>
            <td>Berthoud R/N</td>
            <td>{{ form.berthoud }} {{ form.berthoud.errors }}</td>
            <td>Model control box</td>
            <td>{{ form.model_control_box }} {{ form.model_control_box.errors }}</td>
            <td>Tested</td>
            <td>{{ form.tested }}</td>
        </tr>
        <tr>
            <td>Emc S/N</td>
            <td>{{ form.emc }} {{ form.emc.errors }}</td>
            <td>Model boom length</td>
            <td>{{ form.model_boom_length }} {{ form.model_boom_length.errors }}</td>
            <td>Antifreeze</td>
            <td>{{ form.antifreeze }}</td>
        </tr>
        <tr>
            <td>Made</td>
            <td>{{ form.made }}</td>
            <td>Model boom type</td>
            <td>{{ form.model_boom_type }} {{ form.model_boom_type.errors }}</td>
            <td>Is rented</td>
            <td>{{ form.is_rented }}</td>
        <tr>
            <td><input type="submit" value="Search" /></td>
        </tr>
    </table>
</form>


<table class="table-data">
    <tr>
        <td>N</td>
        <td>Order</td>
        <td>Berthoud R/N</td>
        <td>EMC S/N</td>
        <td>Model</td>
        <td>Made</td>
        <td>Ready</td>
        <td>Tested</td>
        <td>Antifreeze</td>
        <td>Rented</td>

        <td>Action</td>
    </tr>
    {% for order in orders %}
    <tr class="table-row">
        <td onclick="ShowHideDescription('{{ order.n }}')">{{ order.n }}</td>
        <td onclick="ShowHideDescription('{{ order.n }}')">{{ order.order }}</td>
        <td onclick="ShowHideDescription('{{ order.n }}')">{{ order.berthoud }}</td>
        <td onclick="ShowHideDescription('{{ order.n }}')">{{ order.emc }}</td>
        <td onclick="ShowHideDescription('{{ order.n }}')">{{ order.model }}</td>
        <td onclick="ShowHideDescription('{{ order.n }}')">{{ order.made }}</td>
        <td onclick="ShowHideDescription('{{ order.n }}')">{{ order.ready | yesno:"yes,no" }}</td>
        <td onclick="ShowHideDescription('{{ order.n }}')">{{ order.tested | yesno:"yes,no" }}</td>
        <td onclick="ShowHideDescription('{{ order.n }}')">{{ order.antifreeze | yesno:"yes,no" }}</td>
        <td onclick="ShowHideDescription('{{ order.n }}')">{{ order.is_rented | yesno:"yes,no" }}</td>
        <td>
        {% if access.update_stock %}
            <a href="{% url 'order_stock_update' order.pk %}">Update</a>
        {% endif %}
        {% if access.update_payment %}
            <a href="{% url 'order_stock_update_payment' order.pk %}">Payment</a>
        {% endif %}
        {% if access.delete %}
            <a href="{% url 'order_stock_delete' order.pk %}">Delete</a>
        {% endif %}
        </td>
    </tr>
    <tr id="description-{{ order.n }}" style="display: none">
        <td></td>
        <td colspan="10">{{ order.description }}</td>
    </tr>
    {% endfor %}
</table>

{% include "paginator.html" %}

{% endblock %}