html, body {
    margin: 0;
    padding: 0;
}

.tabnav .content {
    background: #FFFFFF url("../images/tabnavct.gif") repeat-x;
    color: #3F7AA2;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    padding: 3px 10px 0 12px;
    margin: 5px;

    vertical-align: top;
}

.copyright {
    background-image: url("../images/copyright.jpg");
    background-position: right top;
    background-repeat: no-repeat;
    height: 96px;
    padding: 4px 0 0 10px;
}

.table-data {
    border-collapse: collapse;
    border: 1px solid #CCCCCC;
}

.table-data tr td {
    border: 1px solid #CCCCCC;
    padding: 1px 5px 1px 5px;
}

.table-filter {
    padding-bottom: 10px;
}


.table-filter td {
    padding: 1px 5px 1px 5px;
}

.form-data {
    margin: 10px;
}


.username {
    font-size: 12px;
    float: left;
}

.pagination {
    margin: 15px;
}

.ui-datepicker {
    background-color: #FFFFFF;
    border: 1px solid;
}

.ui-datepicker-prev {
    background-color: #888888;
}

.ui-datepicker-next {
    margin-left: 130px;
    background-color: #888888;
}

#content {
    margin: 15px;
    display: block;
}

.table-row:hover {
    background-color: #E6E6E6;
}