<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Berthoud</title>
    <link type="text/css" href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
    <script src="{{ STATIC_URL }}js/jquery-1.11.0.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui.js"></script>
</head>

<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td valign="top" background="{{ STATIC_URL }}images/header.jpg" style="padding:18px 0px 0px 27px; height:75px">
       <a href="{% url 'main' %}" target="_parent"><img src="{{ STATIC_URL }}images/logoberthoud.gif" width="253" height="39" border="0"></a>
    </td>
  </tr>
  <tr>
    <td background="{{ STATIC_URL }}images/tabnavback.jpg">
      <div class="tabnav">
        <table cellspacing="0" cellpadding="0" border="0" class="outer">
          <tr>
            <td class="leftmargin" nowrap style="display:none"></td>

            {% if access.view_stock %}
            <td class="left" nowrap style="display:none"></td>
            <td nowrap class="content"><a href="{% url 'orders_stock' %}"><span>Stock</span></a></td>
            <td class="right" nowrap></td>
            {% endif %}

            {% if access.view_payment %}
            <td class="left" nowrap style="display:none"></td>
            <td nowrap class="content"><a href="{% url 'orders_payment' %}"><span>Payment</span></a></td>
            <td class="right" nowrap></td>
            {% endif %}

            {% if access.view_shipment %}
            <td class="left" nowrap style="display:none"></td>
            <td nowrap class="content"><a href="{% url 'orders_shipment' %}"><span>Shipment</span></a></td>
            <td class="right" nowrap></td>
            {% endif %}

            {% if access.create %}
            <td class="left" nowrap style="display:none"></td>
            <td nowrap class="content"><a href="{% url 'order_create' %}"><span>Create</span></a></td>
            <td class="right" nowrap></td>
            {% endif %}

            <td class="left" nowrap style="display:none"></td>
            <td nowrap class="content">You enter as: {{ user.username }}</td>
            <td class="right" nowrap></td>

            <td class="left" nowrap style="display:none"></td>
            <td nowrap class="content"><a href="{% url 'logout' %}"><span>Logout</span></a></td>
            <td class="right" nowrap></td>

            <td class="rightmargin" nowrap><img src="{{ STATIC_URL }}images/tabnavrightmg.gif" width="20" height="21"></td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
</table>

<dev id="content">
    {% block content %}
        No info
    {% endblock %}
</dev>

<div class="copyright">
<table width="100%" cellspacing="0" cellpadding="0" border="0">
  <tr>
    <td class="right" nowrap>Powered by Berthoud Agricole SAS</td>
  </tr>
</table>
</div>

<script type="text/javascript">
$(document).ready(function(){
    $('.datapicker').datepicker({
        dateFormat: "yy-mm-dd"
    });
});

function ShowHideDescription(n) {
   var desc=document.getElementById('description-' + n);
    if (desc.style.display == 'none') {
        desc.style.display='table-row';
    }
    else {
        desc.style.display='none';
    }
}

</script>

</body>
</html>