{% if is_paginated %}
    <div class="pagination">
        <span class="step-links">
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% else %}
                Previous
            {% endif %}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
            {% else %}
                Next
            {% endif %}
        </span>
    </div>
{% endif %}
